@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Poppins, sans-serif;
  --font-mono: IBM Plex Mono, monospace;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-serif: Lora, Georgia, Cambria, Times New Roman, Times, serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(0.9722 0.0034 325.6029);
  --foreground: oklch(0.2734 0.116 298.0348);
  --card: oklch(0.9716 0.0078 319.4467);
  --card-foreground: oklch(0.1902 0.0936 302.8234);
  --popover: oklch(0.9893 0.0067 325.6276);
  --popover-foreground: oklch(0.1902 0.0936 302.8234);
  --primary: oklch(0.383 0.1434 297.5601);
  --primary-foreground: oklch(0.9716 0.0078 319.4467);
  --secondary: #e8e2ea;
  --secondary-foreground: oklch(0.3271 0.1219 300.5108);
  --muted: oklch(0.9198 0.0125 317.741);
  --muted-foreground: oklch(0.4999 0.0539 308.6223);
  --accent: oklch(0.9198 0.0125 317.741);
  --accent-foreground: oklch(0.1902 0.0936 302.8234);
  --destructive: oklch(0.5659 0.2154 27.702);
  --border: oklch(0.901 0.0132 310.5201);
  --input: oklch(0.8577 0.0122 313.2042);
  --ring: oklch(0.4605 0.1358 301.964);
  --chart-1: oklch(0.383 0.1434 297.5601);
  --chart-2: oklch(0.4605 0.1358 301.964);
  --chart-3: oklch(0.5427 0.1221 304.8419);
  --chart-4: oklch(0.6204 0.1117 308.0219);
  --chart-5: oklch(0.6999 0.0972 311.1715);
  --radius: 0rem;
  --sidebar: oklch(0.9893 0.0067 325.6276);
  --sidebar-foreground: oklch(0.2353 0.0947 312.7696);
  --sidebar-primary: oklch(0.383 0.1434 297.5601);
  --sidebar-primary-foreground: oklch(0.9619 0.0073 312.3014);
  --sidebar-accent: oklch(0.9295 0.0079 319.4468);
  --sidebar-accent-foreground: oklch(0.2135 0.0845 312.6943);
  --sidebar-border: oklch(0.9377 0.0113 321.3214);
  --sidebar-ring: oklch(0.4605 0.1358 301.964);
  --destructive-foreground: oklch(0.9716 0.0078 319.4467);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: IBM Plex Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.015em;
}

.dark {
  --background: oklch(0.2679 0.0036 106.6427);
  --foreground: oklch(0.8074 0.0142 93.0137);
  --card: oklch(0.2679 0.0036 106.6427);
  --card-foreground: oklch(0.9818 0.0054 95.0986);
  --popover: oklch(0.3085 0.0035 106.6039);
  --popover-foreground: oklch(0.9211 0.004 106.4781);
  --primary: oklch(0.383 0.1434 297.5601);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9818 0.0054 95.0986);
  --secondary-foreground: oklch(0.3085 0.0035 106.6039);
  --muted: oklch(0.2213 0.0038 106.707);
  --muted-foreground: oklch(0.7713 0.0169 99.0657);
  --accent: oklch(0.213 0.0078 95.4245);
  --accent-foreground: oklch(0.9663 0.008 98.8792);
  --destructive: oklch(0.6122 0.2082 22.241);
  --border: oklch(0.3618 0.0101 106.8928);
  --input: oklch(0.4336 0.0113 100.2195);
  --ring: oklch(0.4605 0.1358 301.964);
  --chart-1: oklch(0.383 0.1434 297.5601);
  --chart-2: oklch(0.4605 0.1358 301.964);
  --chart-3: oklch(0.5427 0.1221 304.8419);
  --chart-4: oklch(0.6204 0.1117 308.0219);
  --chart-5: oklch(0.6999 0.0972 311.1715);
  --sidebar: oklch(0.2357 0.0024 67.7077);
  --sidebar-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.168 0.002 106.6177);
  --sidebar-accent-foreground: oklch(0.8074 0.0142 93.0137);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --destructive-foreground: oklch(0.9751 0.0184 137.7951);
  --radius: 0rem;
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: IBM Plex Mono, monospace;
  --shadow-color: #836eaa;
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.1),
    0px 1px 2px -1px hsl(261 26.087% 54.902% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.1),
    0px 1px 2px -1px hsl(261 26.087% 54.902% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.1),
    0px 2px 4px -1px hsl(261 26.087% 54.902% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.1),
    0px 4px 6px -1px hsl(261 26.087% 54.902% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.1),
    0px 8px 10px -1px hsl(261 26.087% 54.902% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(261 26.087% 54.902% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}

